configuration {
    modi:           "drun,run,window";
    font:           "JetBrainsMono Nerd Font 12";
    show-icons:     true;
    icon-theme:     "Papirus-Dark";
    drun-display-format: "{name}";
}

@theme "catppuccin-mocha"
